<section >
    <br><br><br><br><br>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 px-4" align="center">
                <form class="py-4">
                    <div>
                        <h5>RÉSERVER MA CARTE</h5>
                        <p>Indiquez vos coordonnées, on vous rappelle !</p>
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Nom">
                    </div>
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Prénom">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Téléphone">
                      </div>
                      <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                    <button type="submit" class="btn btn-primary mb-4">S'identifier</button>
                </form>
            </div>
            <div class="col-md-6">
                <img src="../../../../assets/media/signUpPic.png">
            </div>
        </div>
    </div>
</section>
<br><br>
<footer>
    <br><br>
    <div class="container" >
        <div class="row">
            <div class="col-md-3">
                <img src="../../../../assets/media/icon.png" >
            </div>
            <div class="col-md-3">
                <h4>CLUB</h4>
                <p>Contactez-nous au <br> XX XX XX XX XX</p>
                <p><i class="bi bi-geo-alt-fill" style="color: #79d204;"></i>
                    Appt 3, N 3 Rue Abdlaziz, Al Fechtali, Rabat 10000</p>
            </div>
            <div class="col-md-3">
                <h4>SERVICES</h4>
                <h6><a href="#">Activités</a></h6>
                <h6><a href="#">Coaching</a></h6>
                <h6><a href="#">Shop</a></h6>
            </div>
            <div class="col-md-3">
                <h4>À PROPOS</h4>
                <h6><a href="#">Concept</a></h6>
                <h6><a href="#">Blog</a></h6>
                <h6><a href="#">Contact</a></h6>
            </div>
        </div>
    </div>
    <br><br>
</footer>
