section {
    background-color: whitesmoke;
}

section #text{
    text-align: left;
}

section h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 0.9;
}

section h1 span {
    color: #79d204;
}

section button{
    font-weight: 600;
    color: black;
    border: #79d204 2px solid;
}

section button:hover {
    background-color:#79d204;
    box-shadow: 0px 0px 6px #00000080;
    color: white;
}

section img{
    border-radius: 6px;
    width: 80%;
}

section .bi{
    color: #79d204;
    font-size: 50px;
}

section #indicators{
    box-shadow: 0px 0px 6px #00000058;
    border-radius: 16px;
    width: 20%;
}

section #indicators p{
    font-size: 18px;
    font-weight: 500;
    color: #212529;
}

section #def {
    color: #212529;
}

section #def p{
    text-align: left;
}

section #statistic{
    font-weight: 700;
    letter-spacing: -0.5px;
}

section #statistic h2 {
    font-size: 27px;
}

section .load{
    background-color: lightgrey;
    width: 90%;
    height: 4%;
    border-radius: 6px;
}

section .pourcentage{
    background-color: #79d204;
    height: 100%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

section #equipement h2{
    position: relative;
    font-weight: 700;
    color: #212529;
}

section #equipement h2::before{
    content: " ";
    top: 7%;
    left: -6%;
    background-color: #79d204;
    position: absolute;
    width: 10px;
    height: 90%;
}

footer{
    background-color: whitesmoke;
}

footer .container img{
    width: 100px;
    height: 80px;
}

footer .container h4 {
    color:#79d204;
}

footer .container h6 a {
    text-decoration: none;
    color: black;
}

footer .container h6 a:hover {
    color: #1877F2;
}