<section class="section1">
    <div class="container">
        <br><br><br><br> <br>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6 mx-4" align="left">
                <h1>
                    <i>
                        NOS <br> ACTIVITÉS !
                    </i>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="section2 py-5" >
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-2">
                <div class="activity_describ">
                    <h3><i>CARDIO</i></h3>
                    <p>Maîtrise du rythme cardiaque et amélioration de l'endurance</p>
                </div>
            </div>
            <div class="col-md-2 py-5" >
                <img src="../../../../../assets/media/activiti_cardio1.png" >
            </div>
            <div class="col-md-2 mx-4"  align="center" (click)="toCircuitMinceur()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_cardio2.png')">
                        <p class="mx-2">
                            <i>CIRCUIT MINCEUR</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a >Pour avoir un ventre plat, il est indispensable de travailler la ceinture abdominale !</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toBodyStep()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_cardio3.png')">
                        <p class="mx-5">
                            <i>BODY STEP</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a href="#">Une des composantes fondamentales dans les activités du fitness !</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toCardio()">
                   <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_cardio4.png')">
                       <p class="mx-5">
                          <i>CARDIO</i>
                       </p>
                   </div>
                   <div class="activities_text px-3 py-3">
                       <p><a href="#">Un entraînement très intense qui améliore la forme cardiovasculaire, augmente la vitesse et maximise la dépense énergétique.</a></p>
                   </div>
            </div>
        </div>
    </div>
</section>
<section class="section3 py-5" >
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-2">
                <div class="activity_describ">
                    <h3><i>BOXE & MMA</i></h3>
                    <p>Coaching - Cours collectifs - Cours individuels - Apprentissage</p>
                </div>
            </div>
            <div class="col-md-2 py-5">
                <img src="../../../../../assets/media/activiti_MMA1.png" >
            </div>
            <div class="col-md-2 mx-4"  align="center" (click)="toKickBoxing()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_MMA2.png')">
                        <p class="mx-2">
                            <i>KICK-BOXING</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a routerLink="/club/activite/boxe_MMA/kick-boxing">Ce cours de kickboxing est une méthode indiquée pour une mise en forme incomparable ainsi qu’une perte de poids saine et rapide.</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toMMA()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_MMA3.png')">
                        <p class="mx-5">
                            <i>MMA</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a href="#">Le MMA ou arts martiaux mixtes est l’un des sports les plus vieux au monde !Le MMA vous apprend à dépasser vos limites !</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toBoxe()">
                   <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_MMA4.png')">
                       <p class="mx-5">
                          <i>BOXE</i>
                       </p>
                   </div>
                   <div class="activities_text px-3 py-3">
                       <p><a href="#">Functional City Boxe, un savant mélange, entre le sport de combats et le functional training.</a></p>
                   </div>
            </div>
        </div>
    </div>
</section>
<section class="section4 py-5" >
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-2">
                <div class="activity_describ">
                    <h3><i>MUSCULATION</i></h3>
                    <p>Indispensable pour affiner sa taille et solidifier ses muscles</p>
                </div>
            </div>
            <div class="col-md-2 py-5">
                <img src="../../../../../assets/media/activiti_musculation1.png" class="my-5">
            </div>
            <div class="col-md-2 mx-4"  align="center" (click)="toXtremeAbdo()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_musculation2.png')">
                        <p class="mx-2">
                            <i>XTREME ABDOS</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a href="#">Un renforcement musculaire intensif avec une action très ciblée sur les abdominaux pour un ventre plat et tonique et une silhouette dessinée.</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toBodyPump()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_musculation3.png')">
                        <p class="mx-5">
                            <i>BODY PUMP</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a href="#">Ce cours de fitness propose de soulever des poids en rythme grâce à des effets de répétition afin de sculpter votre corps</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toStrength()">
                   <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_musculation4.png')">
                       <p class="mx-5">
                          <i>STRENGTH</i>
                       </p>
                   </div>
                   <div class="activities_text px-3 py-3">
                       <p><a href="#">Un entraînement à haute intensité conçu pour améliorer la force et développer la masse musculaire.</a></p>
                   </div>
            </div>
        </div>
    </div>
</section>
<section class="section5 py-5" >
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-2">
                <div class="activity_describ">
                    <h3><i>ZEN FIT</i></h3>
                    <p>Retrouvez votre bien-être en améliorant vos expériences sportives</p>
                </div>
            </div>
            <div class="col-md-2 py-5">
                <img src="../../../../../assets/media/activiti_zen_fit1.png" >
            </div>
            <div class="col-md-2 mx-4"  align="center" (click)="toBodyBalance()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_zen_fit2.png')">
                        <p class="mx-2">
                            <i>BODY BALANCE</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a href="#">Le Body Balance est le cours zen pour assouplir son corps, le détendre et entendre ses vibrations profondes.</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toStretching()">
                    <div id="activities_pic" style="background-image: url('../../../../../assets/media//activiti_zen_fit3.png')">
                        <p class="mx-5">
                            <i>STRETCHING</i>
                        </p>
                    </div>
                    <div class="activities_text px-3 py-3">
                        <p><a href="#">Ce cours vous propose des mouvements simples mais efficaces pour assouplir votre corps. Détente et relaxation.</a></p>
                    </div>
            </div>
            <div class="col-md-2 mx-4" align="center" (click)="toYoga()">
                   <div id="activities_pic" style="background-image: url('../../../../../assets/media/activiti_zen_fit4.png')">
                       <p class="mx-5">
                          <i>YOGA</i>
                       </p>
                   </div>
                   <div class="activities_text px-3 py-3">
                       <p><a href="#">Une pratique sereine et approfondie d’un ensemble de postures et d’exercices de respiration qui vise à apporter un bien-être physique et mental.</a></p>
                   </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <br><br>
    <div class="container" >
        <div class="row">
            <div class="col-md-3">
                <img src="../../../../assets/media/icon.png" >
            </div>
            <div class="col-md-3">
                <h4>CLUB</h4>
                <p>Contactez-nous au <br> XX XX XX XX XX</p>
                <p><i class="bi bi-geo-alt-fill" style="color: #79d204;"></i>
                    Appt 3, N 3 Rue Abdlaziz, Al Fechtali, Rabat 10000</p>
            </div>
            <div class="col-md-3">
                <h4>SERVICES</h4>
                <h6><a href="#">Activités</a></h6>
                <h6><a href="#">Coaching</a></h6>
                <h6><a href="#">Shop</a></h6>
            </div>
            <div class="col-md-3">
                <h4>À PROPOS</h4>
                <h6><a href="#">Concept</a></h6>
                <h6><a href="#">Blog</a></h6>
                <h6><a href="#">Contact</a></h6>
            </div>
        </div>
    </div>
    <br><br>
</footer>
