<div class="row" >
    <div class="col-md-3 py-5" align="center" id="left" >
     <img src="../../../../assets/media/narsa.png">
     <h1 class="my-0">SGCG</h1>
     <p class="ms-5">By NARSA</p>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-5 py-5 px-5" >
        <br><br><br><br>
        <form >
            <div align="center"
                 style="width: 60%;">
                <p>Authentification</p>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="password_text" align="right">
                <a>Mot de passe oublié ?</a>
            </div>
            <button type="submit" class="btn btn-primary mb-4">S'identifier</button>
        </form>
    </div>
</div>
