<section class="py-5">
    <br><br><br>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-1"></div>
            <div class="col-md-5 px-3" id="text">
                <br><br>
                <h1><i>
                    <span>BODY</span><br> BALANCE
                    </i> 
                </h1>
                <button class="btn btn-outline-success my-2 mx-2 py-2 px-3">S'abonner</button>
            </div>
            <div class="col-md-6">
                <img src="../../../../../../../assets/media/zen-fit1.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3 py-2" id="indicators" align="center">
                <i class="bi bi-fire"></i>
                <p>Toutes les chaines musculaires</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 py-2" id="indicators" align="center">
                <i class="bi bi-stopwatch"></i>
                <p>Durée : <br> 45 min</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 py-2" id="indicators" align="center">
                <i class="bi bi-heart-pulse"></i>
                <p>Calories : <br> 500 kcal</p>
            </div>
        </div>
        <div class="container px-3">
            <div class="row my-5" align="center" id="def">
                <h3>BODY BALANCE</h3>
                <p>Vous avez un peu forcé ces derniers temps au niveau du sport ou vous vous sentez fatigués? Détendez vos muscles, vos corps et votre esprit avec un Body Balance! Cette activité proposée, reprend trois grandes tendances des cours de gym douce traditionnelle : le yoga, le Taï-Chi et le Pilates. Le Body Balance est le cours zen pour assouplir son corps, le détendre et entendre ses vibrations profondes. Loin d’être illusoire, la pratique de cette activité aide les sportifs à améliorer leurs performances</p>
            </div>
            <div class="row" id="statistic">
                <div class="col-md-5 mx-3" 
                     style="background-image: url('../../../../../../../assets/media/zen-fit2.png');height: 300px; width: 450px;border-radius:6px">
                </div>
                <div class="col-md-4">
                    <h2 class="mb-0">L’ENTRAÎNEMENT POUR UNE VIE ACTIVE</h2>
                    <p class="mt-4 mb-2">CALORIES</p>
                    <div class="load">
                        <div class="pourcentage" style="width: 70%;">
                        </div>
                    </div>
                    <p class="mt-3 mb-2">CARDIO VASCULAIRE</p>
                    <div class="load">
                        <div class="pourcentage" style="width: 90%;">
                        </div>
                    </div>
                    <p class="mt-3 mb-2">VITESSE</p>
                    <div class="load">
                        <div class="pourcentage" style="width: 90%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <br><br>
    <div class="container" >
        <div class="row">
            <div class="col-md-3">
                <img src="../../../../assets/media/icon.png" >
            </div>
            <div class="col-md-3">
                <h4>CLUB</h4>
                <p>Contactez-nous au <br> XX XX XX XX XX</p>
                <p><i class="bi bi-geo-alt-fill" style="color: #79d204;"></i>
                    Appt 3, N 3 Rue Abdlaziz, Al Fechtali, Rabat 10000</p>
            </div>
            <div class="col-md-3">
                <h4>SERVICES</h4>
                <h6><a href="#">Activités</a></h6>
                <h6><a href="#">Coaching</a></h6>
                <h6><a href="#">Shop</a></h6>
            </div>
            <div class="col-md-3">
                <h4>À PROPOS</h4>
                <h6><a href="#">Concept</a></h6>
                <h6><a href="#">Blog</a></h6>
                <h6><a href="#">Contact</a></h6>
            </div>
        </div>
    </div>
    <br><br>
</footer>
