
<section class="py-5">
    <br><br><br><br>
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6" id="text" align="center" data-aos="fade-right">
                <br><br>
                <h1><span>Functional</span> <br> 
                    Training
                </h1>
                <div class="my-4">
                    <p>Une nouveauté qui va faire du bruit !</p>
                </div>
                <button class="btn btn-outline-success mx-2 py-2 px-3">S'abonner</button>
                <button class="btn btn-outline-success py-2 px-3" (click)="toActivities()">DÉCOUVRIR L’ACTIVITÉ</button>
            </div>
            <div class="col-md-6" data-aos="zoom-in-left">
                <img src="../../../../../assets/media/espace1.png">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6" data-aos="zoom-in-right">
                <img src="../../../../../assets/media/espace2.png">
            </div>
            <div class="col-md-6" id="text" align="center" data-aos="fade-left">
                <br><br><br>
                <h1><span>Espace</span> <br> 
                    Cardio
                </h1>
                <div class="my-4">
                    <p>Améliorez vos performances cardiaques  !</p>
                </div>
                <button class="btn btn-outline-success mx-2 py-2 px-3">S'abonner</button>
                <button class="btn btn-outline-success py-2 px-3" (click)="toActivities()">DÉCOUVRIR L’ACTIVITÉ</button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6" id="text" align="center" data-aos="fade-right">
                <br><br><br>
                <h1><span>Espaces</span><br>
                     Musculation
                </h1>
                <div class="my-4">
                    <p>Boostez votre moral !</p>
                </div>
                <button class="btn btn-outline-success mx-2 py-2 px-3">S'abonner</button>
                <button class="btn btn-outline-success py-2 px-3">DÉCOUVRIR L’ACTIVITÉ</button>
            </div>
            <div class="col-md-6">
                <img src="../../../../../assets/media/espace3.png" data-aos="zoom-in-left">
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6">
                <img src="../../../../../assets/media/espace4.png" data-aos="zoom-in-right">
            </div>
            <div class="col-md-6" id="text" align="center" data-aos="fade-left">
                <br><br><br>
                <h1><span>Salles</span> Des Cours
                </h1>
                <div class="my-4">
                    <p>Adoptez un nouveau mode de vie !</p>
                </div>
                <button class="btn btn-outline-success mx-2 py-2 px-3">S'abonner</button>
                <button class="btn btn-outline-success py-2 px-3" (click)="toActivities()">DÉCOUVRIR L’ACTIVITÉ</button>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6" id="text" align="center" data-aos="fade-right">
                <br><br><br>
                <h1><span>Arts</span> Martiaux
                </h1>
                <div class="my-4">
                    <p>Développez des techniques de combats</p>
                </div>
                <button class="btn btn-outline-success mx-2 py-2 px-3">S'abonner</button>
                <button class="btn btn-outline-success py-2 px-3" (click)="toActivities()">DÉCOUVRIR L’ACTIVITÉ</button>
            </div>
            <div class="col-md-6">
                <img src="../../../../../assets/media/espace5.png" data-aos="zoom-in-left">
            </div>
        </div>
    </div>
</section>
<footer>
    <br><br>
    <div class="container" >
        <div class="row">
            <div class="col-md-3">
                <img src="../../../../assets/media/icon.png" >
            </div>
            <div class="col-md-3">
                <h4>CLUB</h4>
                <p>Contactez-nous au <br> XX XX XX XX XX</p>
                <p><i class="bi bi-geo-alt-fill" style="color: #79d204;"></i>
                    Appt 3, N 3 Rue Abdlaziz, Al Fechtali, Rabat 10000</p>
            </div>
            <div class="col-md-3">
                <h4>SERVICES</h4>
                <h6><a href="#">Activités</a></h6>
                <h6><a href="#">Coaching</a></h6>
                <h6><a href="#">Shop</a></h6>
            </div>
            <div class="col-md-3">
                <h4>À PROPOS</h4>
                <h6><a href="#">Concept</a></h6>
                <h6><a href="#">Blog</a></h6>
                <h6><a href="#">Contact</a></h6>
            </div>
        </div>
    </div>
    <br><br>
</footer>
